
<div class="card-blue form-container">
  <h2 class="form-title">Agendar Consulta</h2>

  <div class="form-grid">
    <div class="form-left">

      <div class="form-group">
        <label class="label">Profissional</label>
        <input type="text" class="input-field" placeholder="Digite o nome" [(ngModel)]="profissional" />
      </div>

      <div class="form-group">
  <label class="label">Especialidade</label>
  
  <p-select 
    [options]="especialidadesOpcoes" 
    [(ngModel)]="especialidade" 
    optionLabel="label" 
    optionValue="value"
    placeholder="Selecione a especialidade" 
    styleClass="w-full input-prime">
  </p-select>
  
</div>

      <div class="form-group">
        <label class="label">Endereço</label>
        <input type="text" class="input-field" placeholder="Ex: Clínica Sonhare Rua das..." [(ngModel)]="endereco" />
      </div>

      <div class="form-group">
        <label class="label">Motivo da Consulta</label>
        <textarea class="input-field textarea" placeholder="Descreva o motivo da consulta" [(ngModel)]="motivo"></textarea>
      </div>
    </div>

    <div class="form-right">
      <div class="form-group">
        <label class="label">Data e Hora da Consulta</label>
        <p-datepicker 
          [(ngModel)]="dataAgendamento" 
          [showIcon]="true" 
          [showTime]="true" 
          hourFormat="24"
          dateFormat="dd/mm/yy"
          placeholder="Selecione a data e horário"
          styleClass="w-full">
        </p-datepicker>
      </div>

      <button class="btn-sync">
        <i class="pi pi-sync"></i>
        <strong>Sincronizar com Google Agenda</strong>
      </button>
    </div>
  </div>

  <div class="form-footer">
    <button class="btn-primary" (click)="salvar()">
      <i class="pi pi-save"></i>
      Agendar Consulta
    </button>
  </div>
</div>