<aside class="sidebar">
 <div class="sidebar-profile">
  <div class="avatar">
    <i class="pi pi-user" style="font-size: 1.2rem"></i>
  </div>
  
  <span class="profile-name">Nome</span>
</div>

  <nav class="sidebar-nav">
    <a routerLink="/agendamentos" routerLinkActive="active" class="nav-item">
      <i class="pi pi-calendar"></i>
      <span>Agendamentos</span>
    </a>

    <a routerLink="/contatos" routerLinkActive="active" class="nav-item">
      <i class="pi pi-phone"></i>
      <span>Contatos</span>
    </a>

    <a routerLink="/documentos" routerLinkActive="active" class="nav-item">
      <i class="pi pi-file"></i>
      <span>Documentos</span>
    </a>

    <a routerLink="/prontuario" routerLinkActive="active" class="nav-item">
      <i class="pi pi-clipboard"></i>
      <span>Meu Prontuário</span>
    </a>

    <a routerLink="/profissionais" routerLinkActive="active" class="nav-item">
      <i class="pi pi-users"></i>
      <span>Profissionais</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <button class="btn-sair" (click)="logout()">
      <i class="pi pi-sign-out"></i>
      <span>Sair</span>
    </button>
  </div>
</aside>