<div class="card form-card">
  <h2 class="form-title">Receita</h2>
  
  <div class="upload-area">
    <button class="btn-primary upload-btn">Enviar</button>
    <span class="upload-hint">Apenas arquivos de tamanho X formato Y</span>
  </div>

  <div class="form-group">
    <label class="label">Data da receita</label>
    <input type="date" class="input-field" [(ngModel)]="dataReceita" />
  </div>

  <div class="form-group">
    <label class="label">Nome da medicação</label>
    <input type="text" class="input-field" placeholder="PraCurá 500mg, Pasta D'água 120mg" [(ngModel)]="medicacao" />
  </div>

  <div class="form-group">
    <label class="label">Posologia</label>
    <input type="text" class="input-field" placeholder="2 comprimidos 2x ao dia por 7 dias" [(ngModel)]="posologia" />
  </div>

  <div class="form-footer">
  <p-button 
    [label]="carregando ? 'Salvando...' : 'Salvar'" 
    [icon]="carregando ? 'pi pi-spinner pi-spin' : 'pi pi-bookmark'" 
    styleClass="btn-primary" 
    [disabled]="carregando"
    (onClick)="salvar()">
  </p-button>
</div>
</div>