<div class="card form-card">
  <h2 class="form-title">Diagnóstico</h2>
  
  <div class="form-group">
    <label class="label">Nome do Diagnóstico</label>
    <input type="text" class="input-field" placeholder="Ex: Hipertensão Arterial" [(ngModel)]="nome" />
  </div>

  <div class="form-group">
    <label class="label">CID (Opcional)</label>
    <input type="text" class="input-field" placeholder="Ex: I10" [(ngModel)]="cid" />
  </div>

  <div class="form-group">
    <label class="label">Descrição / Observações</label>
    <textarea class="input-field textarea" placeholder="Descreva os sintomas e observações..." [(ngModel)]="descricao"></textarea>
  </div>

  <div class="form-group checkbox-group">
    <label class="checkbox-container">
      <input type="checkbox" [(ngModel)]="doencaCronica" />
      <span class="checkmark"></span>
      Marcar como Doença Crônica (Contínua)
    </label>
  </div>

  <div class="form-footer">
  <p-button 
    [label]="carregando ? 'Salvando...' : 'Salvar'" 
    [icon]="carregando ? 'pi pi-spinner pi-spin' : 'pi pi-bookmark'" 
    styleClass="btn-primary" 
    [disabled]="carregando"
    rounded="true"
    severity="info"
    (onClick)="salvar()">
  </p-button>
</div>
</div>