<div class="card form-card">
  <h2 class="form-title">Exame</h2>
  
  <div class="upload-area">
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept=".pdf,image/png,image/jpeg">
    
    <p-button 
      styleClass="btn-primary" 
      label="Anexar" 
      icon="pi pi-upload" 
      (onClick)="fileInput.click()">
    </p-button>
    
    <span class="upload-hint">{{ nomeArquivo ? nomeArquivo : 'PDF, PNG ou JPG' }}</span>
  </div>

  <div class="form-group">
    <label class="label">Nome do Exame</label>
    <input type="text" class="input-field" placeholder="Hemograma Completo" [(ngModel)]="nomeExame" />
  </div>

  <div class="form-group">
    <label class="label">Data do exame</label>
    <input type="date" class="input-field" [(ngModel)]="dataExame" />
  </div>

  <div class="form-group">
    <label class="label">Observações</label>
    <textarea class="input-field textarea" placeholder="Observações sobre o exame..." [(ngModel)]="observacoes"></textarea>
  </div>

  <div class="form-footer">
  <p-button 
    [label]="carregando ? 'Salvando...' : 'Salvar'" 
    [icon]="carregando ? 'pi pi-spinner pi-spin' : 'pi pi-bookmark'" 
    styleClass="btn-primary" 
    [disabled]="carregando"
    (onClick)="salvar()">
  </p-button>
</div>
</div>